@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
    background-image: url("../img/shattered.png");
}

.main-body {
    width: 1000px;
    height: 410px;
    background-color: #B2EBF2;
    margin: 0 auto;
    margin-top: 80px;
    font-family: Roboto;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
    border-radius: 2px;
}

.dragndrop {
	width: 150px;
    height: 65px;
    border: 2px solid #4DD0E1;
    position: relative;
    bottom: 63px;
    left: 6px;
    color: #FAFAFA;
    font-family: Roboto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}

.dragndrop_invite {
	margin-top: 24px;
}

.upload {
	position: relative;
    top: 70px;
    left: 8px;
    cursor: pointer;
}

.upload-button {
	display: block;
    width: 150px;
    padding: 7px 13px;
    text-align: center;
    background-color: #00ACC1;
    font-size:20px;
    font-family: Roboto;
    color:#ffffff;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
    border-radius: 2px;
}

.upload-button:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.play {
	position: relative;
    top: 30px;
    left: 8px;
    cursor: pointer;
}

.play-button {
	display: block;
    width: 150px;
    padding: 7px 13px;
    text-align: center;
    background-color: #00ACC1;
    font-size:20px;
    font-family: Roboto;
    color:#ffffff;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
    border-radius: 2px;
}

.play-button:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.stop {
	position: relative;
    top: 50px;
    left: 8px;
    cursor: pointer;
}

.stop-button {
	display: block;
    width: 150px;
    padding: 7px 13px;
    text-align: center;
    background-color: #00ACC1;
    font-size:20px;
    font-family: Roboto;
    color:#ffffff;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
    border-radius: 2px;
}

.stop-button:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.track-name {
        border: 1px solid #4DD0E1;
    background-color: rgba(77, 208, 225, 0.23);
    height: 50px;
    width: 480px;
    position: relative;
    left: 200px;
    bottom: 91px;
    border-radius: 2px;
    padding-top: 12px;
}

.visual {
    height: 120px;
    width: 340px;
    position: relative;
    left: 200px;
    bottom: 124px;
}

.file-input {
	visibility: hidden;
}

.dnd-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
	opacity: 0;
	display: block;
	width: 150px;
	height: 65px;
	z-index: 1;
}

.dragndrop:hover {
	border: 2px dashed #4DD0E1;
}

.dnd-span {
	position: relative;
	top: 23px;
	z-index: 0;
}

.track-name-align {
    margin-left: 5px;
    text-overflow: ellipsis;
    height: 40px;
    width: 480px;
    overflow: hidden;
}

.eq-container {
    position: relative;
    bottom: 260px;
    left: 750px;
    border: 1px solid #4DD0E1;
    background-color: rgba(77, 208, 225, 0.23);
    width: 150px;
    height: 232px;
    padding: 20px;
    border-radius: 2px;
}

.eq {
    display: block;
    width: 150px;
    padding: 7px 13px;
    text-align: center;
    background-color: #00ACC1;
    font-size:20px;
    font-family: Roboto;
    color:#ffffff;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.tag-artist {
    border: 1px solid #4DD0E1;
    background-color: rgba(77, 208, 225, 0.23);
    height: 22px;
    width: 300px;
    position: relative;
    left: 690px;
    border-radius: 2px;
    bottom: 618px;
    padding-left: 2px;
    overflow: hidden;
}

.tag-title {
    border: 1px solid #4DD0E1;
    background-color: rgba(77, 208, 225, 0.23);
    height: 22px;
    width: 300px;
    position: relative;
    left: 690px;
    border-radius: 2px;
    bottom: 602px;
    padding-left: 2px;
    overflow: hidden;
}